In [2]:
import os
import shutil
import pandas as pd

C:\Users\m.alvarezg1\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\m.alvarezg1\anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\m.alvarezg1\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [3]:
path="C:/Users/m.alvarezg1/Downloads/labels_sala-amoblado_2021-11-10-11-57-58.csv"
df=pd.read_csv(path,header=None)
df

                         0              1
0    Apartamento1006_4.jpg  [No Amoblado]
1    Apartamento1012_8.jpg  [No Amoblado]
2    Apartamento1012_9.jpg  [No Amoblado]
3    Apartamento1019_1.jpg     [Amoblado]
4    Apartamento1019_3.jpg     [Amoblado]
..                     ...            ...
265  Apartamento2613_3.jpg     [Amoblado]
266  Apartamento2613_5.jpg     [Amoblado]
267  Apartamento2636_1.jpg     [Amoblado]
268  Apartamento2658_1.jpg     [Amoblado]
269  Apartamento2658_2.jpg     [Amoblado]

[270 rows x 2 columns]

In [4]:
df[1]=df[1].str.extract(r'\[(.*?)\]')
df.loc[df[1]=='No Amoblado',1]='No_amoblado'

df

                         0            1
0    Apartamento1006_4.jpg  No_amoblado
1    Apartamento1012_8.jpg  No_amoblado
2    Apartamento1012_9.jpg  No_amoblado
3    Apartamento1019_1.jpg     Amoblado
4    Apartamento1019_3.jpg     Amoblado
..                     ...          ...
265  Apartamento2613_3.jpg     Amoblado
266  Apartamento2613_5.jpg     Amoblado
267  Apartamento2636_1.jpg     Amoblado
268  Apartamento2658_1.jpg     Amoblado
269  Apartamento2658_2.jpg     Amoblado

[270 rows x 2 columns]

In [5]:
pathOrigin="E:/TesisMA/Datos/DataCombinada/living_room - Copy/"
pathDestination="E:/TesisMA/Datos/DataAmoblado/living_room/"
for i in range(0,df.shape[0]):
    tempPath=pathOrigin+df[0].iloc[i]
    tempPath1=pathDestination+df[1].iloc[i]
    shutil.copy2(tempPath, tempPath1)
    os.remove(pathOrigin+df[0].iloc[i])