In [2]:
import os
import shutil
import pandas as pd

In [33]:
path="C:/Users/m.alvarezg1/Downloads/DataT.csv"
df=pd.read_csv(path,header=None)
df

                          0              1
0    Apartamento3201_19.jpg      [kitchen]
1     Apartamento3201_5.jpg      [hallway]
2     Apartamento3223_1.jpg     [bathroom]
3     Apartamento3223_2.jpg      [kitchen]
4     Apartamento3223_3.jpg      [bedroom]
..                      ...            ...
149          Casa3263_2.jpg  [living_room]
150          Casa3263_3.jpg      [kitchen]
151          Casa3263_4.jpg      [kitchen]
152          Casa3263_5.jpg      [kitchen]
153          Casa3263_7.jpg  [living_room]

[154 rows x 2 columns]

In [34]:
df[1]=df[1].str.extract(r'\[(.*?)\]')
df.loc[df[1]=='living room',1]='living_room'
df.loc[df[1]=='dining room',1]='dining_room'
df

                          0            1
0    Apartamento3201_19.jpg      kitchen
1     Apartamento3201_5.jpg      hallway
2     Apartamento3223_1.jpg     bathroom
3     Apartamento3223_2.jpg      kitchen
4     Apartamento3223_3.jpg      bedroom
..                      ...          ...
149          Casa3263_2.jpg  living_room
150          Casa3263_3.jpg      kitchen
151          Casa3263_4.jpg      kitchen
152          Casa3263_5.jpg      kitchen
153          Casa3263_7.jpg  living_room

[154 rows x 2 columns]

In [36]:
pathOrigin="C:/Users/m.alvarezg1/Documents/DataT/"
pathDestination="E:/TesisMA/Datos/DataCombinada/"
for i in range(0,df.shape[0]):
    tempPath=pathOrigin+df[0].iloc[i]
    tempPath1=pathDestination+df[1].iloc[i]
    shutil.copy2(tempPath, tempPath1)
    os.remove(pathOrigin+df[0].iloc[i])